.navbar{
   height: 100px;
   position: relative; 
}
.navbar .top{
    position: fixed;
    right: 40px;
    bottom: 40px;
    color: white;
    z-index: 999;
}
.navbar .top .toparr{
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 10px white;
    scale: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.wrapper .logo{
    font-size: 2vw;
    font-weight: bold;
}
.wrapper .navItems{
    display: flex;
    align-items: center;
    gap: 15px;
}
.wrapper .navItems .nav__Icon{
    width: 18px;
    height: 18px;
}