.navbar{
   height: 100px;
   position: relative; 
}
.navbar .top{
    position: fixed;
    right: 40px;
    bottom: 40px;
    color: white;
    z-index: 999;
}
.navbar .top .toparr{
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 10px white;
    scale: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.wrapper .logo{
    font-size: 3vw;
    font-weight: bold;
}
.wrapper .navItems{
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
    gap: 20px;
}
.wrapper .navItems .nav__Icon:hover{
    color: gray;
}
.wrapper .navItems .nav__Icon{
    width: 28px;
    height: 28px;
}


@media (max-width: 800px){
    .wrapper{
        width: 90%;
    }
    .wrapper .logo{
        margin-left: 40vw;
    }
}

@media (max-width: 600px){
    .navbar{
        height: 100px;
        position: relative;
        padding-right: 25px; 
     }
    .wrapper{
        width: 95%;
    }
    .wrapper .logo{
        display: none;
    }
    .wrapper .navItems{
        gap: 10px;
    }
    .wrapper .navItems .nav__Icon{
        width: 22px;
        height: 22px;
    }
}