.footer{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.footerItems{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}
.footerItems a:hover{
    color: gray;
}
.footerItems .nav__Icon{
    font-size: 2vw;
}

@media (max-width: 600px){
    .footer{
        justify-content: center;
    }
    
    #footer p{
      display: none;
    }
    .footerItems .nav__Icon{
        font-size: 7vw;
    }
  }